<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'style.css' %}">

    <title>Contact Form #1</title>
  </head>
  <body>


  <div class="content">
    
    <div class="container">

      
      <div class="row justify-content-center">
        <div class="col-md-10">
          
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Fill the form. <br> It's easy.</h2>

              <form class="border-right pr-5 mb-5" method="POST" enctype="multipart/form-data" id="contactForm" name="contactForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 form-group alert alert-success">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your movie name">
                  </div>
                  <div class="col-md-12 form-group alert alert-primary">
                    <input type="textarea" class="form-control" name="desc" id="desc" placeholder="Enter movie description">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group alert alert-warning">
                    <input type="text" class="form-control" name="year" id="year" placeholder="Enter movie Year">
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-12 form-group alert alert-dark">
                      <input type="file" name="img">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="SUBMIT" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Let's talk about everything.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti itaque similique magni. Magni, laboriosam perferendis maxime!</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>