{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="500" height="500">
        </div>
        <div class="col-md-6">
        <b>{{movie.name}}</b><br>
        {{movie.desc}}<br>
        {{movie.year}}
        <br>
        <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a>
        <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id%} ">Delete</a>
        </div>
    </div>
</div>


{% endblock %}